doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= "The Best Shoe Store in the World" 
     link(rel="stylesheet", href="/styles.css") 
  body
    header
      .logo
        a(href="/")
          img(src="/images/logo.png", alt="The Best Shoe Store") 
      nav.main-nav
        ul
          li
            a(href="/") Home
          li
            a(href="/men") Men
          li
            a(href="/women") Women
          li
            a(href="/kids") Kids
          li
            a(href="/cart") Cart
          li
            a(href="/wishlist") Wishlist
          li
            a(href="/contact") Contact
          li
            a(href="/user") User Info

    main.container
      block content

    footer
      nav.footer-nav
        ul
          li
            a(href='/') Home
          li
            a(href='/men') Men
          li
            a(href='/women') Women
          li
            a(href='/kids') Kids
          li
            a(href='/cart') Cart
          li
            a(href='/wishlist') Wishlist
          li
            a(href='/contact') Contact
          li
            a(href='/user') User Info
      p &copy; 2025 The Best Shoe Store in the World
